<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    {{^result.data}}
        <h3>Skill 등록</h3>
        <div class="col-md-12">
            <div class="col-md-4">
                <form id="myForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="skillName">스킬 명</label>
                        <input type="text" class="form-control" id="skillName" name="skillName" />
                    </div>
                    <div class="form-group">
                        <label for="skillLevel">숙련도(1: 초급, 2: 중급, 3: 상급)</label>
                        <input type="number" class="form-control" id="skillLevel" name="skillLevel" min="1" max="3"/>
                    </div>
                    <div class="form-group">
                        <label for="level">스킬 카테고리(1: FrontEnd, 2: BackEnd, 3: Etc)</label>
                        <input type="number" class="form-control" id="level" name="level" min="1" max="3"/>
                    </div>
                    <div class="form-group">
                        <label for="memberId">멤버 ID</label>
                        <input type="number" class="form-control" id="memberId" name="memberId" />
                    </div>
                    <div class="form-group">
                        <label for="file">이미지파일</label>
                        <input type="file" class="form-control" id="file" name="file" />
                    </div>
                    <button type="button" id="save-btn" class="btn btn-primary" onclick="clickSubmit()">등록</button>
                </form>
            </div>
        </div>
    {{/result.data}}

    {{#result.data}}
        <h3>Skill 수정</h3>
        <div class="col-md-12">
            <div class="col-md-4">
                <form id="myForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="skillName">스킬 명</label>
                        <input type="text" class="form-control" id="skillName" name="skillName" value="{{skillName}}" />
                    </div>
                    <div class="form-group">
                        <label for="skillLevel">숙련도(1: 초급, 2: 중급, 3: 상급)</label>
                        <input type="number" class="form-control" id="skillLevel" name="skillLevel" value="{{skillLevel}}" />
                    </div>
                    <div class="form-group">
                        <label for="level">스킬 카테고리(1: Language, 2: Web, 3: Framework 4: Database)</label>
                        <input type="number" class="form-control" id="level" name="level" value="{{level}}" />
                    </div>
                    <div class="form-group">
                        <label for="memberId">멤버 ID</label>
                        <input type="number" class="form-control" id="memberId" name="memberId" value="{{memberId}}" />
                    </div>
                    <div class="form-group">
                        <label for="register">등록된 이미지 파일</label>
                        <input type="text" class="form-control" id="register" value="{{fileOriginName}}" readonly />
                        <a href="{{fileUrl}}" target="_blank">보기</a><br></span>
                    </div>
                    <div class="form-group">
                        <label for="file">이미지파일</label>
                        <input type="file" class="form-control" id="file" name="file" />
                    </div>
                    <button type="button" id="save-btn" class="btn btn-primary" onclick="clickUpdate({{memberId}})">수정</button>
                </form>
            </div>
        </div>
    {{/result.data}}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--index.js 추가-->
    <script src="/js/skill.js"></script>
</body>
</html>