<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/member/memberList">go member</a><br />
        <a href="/skill/skillList">go skill</a><br />
        <a href="/project/projectList">go project</a><br />
        <a href="/login/logout">logout</a><br />
    </div>
</body>
</html>