<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="col-md-12">
        <div class="col-md-4">
            <form id="myForm">
                <div class="form-group">
                    <label for="projectTitle">아이디</label>
                    <input type="text" class="form-control" id="id" name="id" />
                </div>
                <div class="form-group">
                    <label for="projectTitle">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" />
                </div>
                <button type="button" id="login-btn" class="btn btn-primary">로그인</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="/js/login.js"></script>
</body>
</html>